
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>注册</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="校内信息共享平台">
  <meta name="description" content="一个提供给大学生的校内信息共享平台">
  <link rel="stylesheet" href="/static/res/layui/css/layui.css">
  <link rel="stylesheet" href="/static/res/css/global.css">
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="/static/res/images/logo.png" alt="layui">
    </a>

    <ul class="layui-nav fly-nav-user">
      <!-- 未登入的状态 -->
      <li class="layui-nav-item">
        <a class="iconfont icon-touxiang layui-hide-xs" href="/login"></a>
      </li>
      <li class="layui-nav-item">
        <a href="/login">登录</a>
      </li>
      <li class="layui-nav-item">
        <a href="/register">注册</a>
      </li>
    </ul>
  </div>
</div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li><a href="/login">登录</a></li>
        <li class="layui-this">注册</li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post">
              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">学号</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_email" name="username" required lay-verify="username" autocomplete="off" class="layui-input" placeholder="请输入学号">
                </div>
                <div class="layui-form-mid layui-word-aux">将会成为您唯一的登入名</div>
              </div>
              <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_username" name="nickname" required lay-verify="nickname" autocomplete="off" class="layui-input" placeholder="请输入昵称">
                </div>
                <div class="layui-inline">
                  <div class="layui-input-inline">
                    <input type="radio" name="gender" value="男" checked title="男">
                    <input type="radio" name="gender" value="女" title="女">
                  </div>
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="password" required lay-verify="pwd" autocomplete="off" class="layui-input" placeholder="请输入密码">
                </div>
                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
              </div>
              <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="rePwd" required lay-verify="rePwd" autocomplete="off" class="layui-input" placeholder="请确认密码">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">人类验证</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请回答后面的问题" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">
                  <span style="color: #c00;">1+1=?</span>
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="reg" lay-submit>立即注册</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="fly-footer">
  <p>校内信息共享平台 &nbsp;&nbsp; Copyright&nbsp; &copy; 2019 Zbin</p>
</div>

<script src="/static/res/layui/layui.js"></script>
<script>
layui.cache.page = 'user';
layui.config({
  version: "3.0.0"
  ,base: '/static/res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
layui.use(['form', 'jquery'], function () {
  var form = layui.form;
  var $ = layui.jquery;

  form.verify({
    username: function (value, item) {
      var Digital = /\d/;
      var Letters = /[a-zA-Z]/;
      if (!(Digital.test(value) && !Letters.test(value) && value.length == 11)) {
        return '学号只能为11位数字!';
      }
    },
    nickname: function (value) {
      if (value.length < 2) {
        return "昵称至少输入2个字符!";
      }
    },
    pwd: function (value, item) {
      var Digital = /\d/;
      var Letters = /[a-zA-Z]/;
      if (!(Digital.test(value) && Letters.test(value) && value.length >= 0)) {
        return '密码必须含有字母和数字!';
      }
    },
    rePwd: function (value, item) {
      var pwd = $("input[name='password']").val();
      if (pwd != value) {
        return '密码与确认密码不一致!';
      }
    }
  });

  //监听提交
  form.on('submit(reg)', function (data) {
    $.ajax({
      url: '/doRegister'
      , type: 'post'
      , contentType: "application/json"
      , data: JSON.stringify(data.field)
      , success: function (result) {
        if (result.code == 0) {
          layer.msg('注册成功', {
            time: 2000, end: function () {
              location.href = '/login'
            }
          });
        } else {
          layer.msg(result.msg, {
            time: 1000
          });
          parent.layer.close();
        }
      }
    });
    return false;
  });

  $(".oauth .layui-icon-home").click(function () {
    window.location.href = "/index"
  });

});
</script>

</body>
</html>