<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>后台管理系统</title>
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="/static/css/font.css">
  <link rel="stylesheet" href="/static/css/weadmin.css">
  <script type="text/javascript" src="/static/layui/layui.js" charset="utf-8"></script>

</head>

<body>
<div class="container">
  <div class="logo">
    <a href="/admin/index">后台管理系统</a>
  </div>
  <div class="left_open">
    <i title="展开左侧栏" class="iconfont">&#xe699;</i>
  </div>
  <ul class="layui-nav right" lay-filter="">
    <li class="layui-nav-item">
      <a href="javascript:;">${user.nickname!'Zbin'}</a>
      <dl class="layui-nav-child">
        <dd>
          <a class="loginout" href="/logout">退出</a>
        </dd>
      </dl>
    </li>
    <li class="layui-nav-item to-index">
      <a href="/index" target="_blank">前台首页</a>
    </li>
  </ul>

</div>
<div class="left-nav">
  <div id="side-nav">
    <ul id="nav">
      <li>
        <a _href="/welcome" methods="post">
          <i class="iconfont">&#xe6ce;</i>
          <cite>主页</cite>
        </a>
      </li>
      <li>
        <a _href="/admin/user/userList">
          <i class="iconfont">&#xe6b8;</i>
          <cite>会员管理</cite>
        </a>
      </li>
      <li>
        <a _href="/admin/article/articleList">
          <i class="iconfont">&#xe705;</i>
          <cite>文章管理</cite>
        </a>
      </li>

      <li>
        <a _href="/admin/article/category">
          <i class="iconfont">&#xe707;</i>
          <cite>分类管理</cite>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="page-content">
  <div class="layui-tab tab" lay-filter="wenav_tab" id="WeTabTip" lay-allowclose="true">
    <ul class="layui-tab-title" id="tabName">
      <li>主页</li>
    </ul>
    <div class="layui-tab-content">
      <div class="layui-tab-item layui-show">
        <iframe src='/welcome' frameborder="0" scrolling="yes" class="weIframe"></iframe>
      </div>
    </div>
  </div>
</div>
<div class="page-content-bg"></div>
<div class="footer">
  <div class="copyright">Copyright ©2019 Zbin All Rights Reserved</div>
</div>
<!-- 底部结束 -->
<script type="text/javascript">
  layui.config({
    base: '/static/js/'
    , version: '101100'
  }).use('admin');
  layui.use(['jquery', 'admin'], function () {
    var $ = layui.jquery;
    $(function () {
    });
  });

</script>
</body>
<ul class="rightMenu" id="rightMenu">
  <li data-type="fresh">刷新</li>
  <li data-type="current">关闭当前</li>
  <li data-type="other">关闭其它</li>
  <li data-type="all">关闭所有</li>
</ul>

</html>