<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>会员资料编辑</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/static/css/font.css">
  <link rel="stylesheet" href="/static/css/weadmin.css">
</head>

<body>
<div class="weadmin-body">
  <form class="layui-form">
    <div class="layui-form-item">
      <label for="L_username" class="layui-form-label">
        <span class="we-red"></span>用户名
      </label>
      <div class="layui-input-inline">
        <input type="text" id="L_username" value="${editUser.username}"
               style="background: lightgray" name="username" lay-verify="required|nikename"
               autocomplete="off" class="layui-input" disabled>
      </div>
    </div>
    <div class="layui-form-item">
      <label for="L_sex" class="layui-form-label"><span class="we-red">*</span>性别</label>
      <div class="layui-input-block" id="L_sex">
        <input type="radio" name="gender" value="男" title="男"
               <#if editUser.gender == '男'>checked</#if>>
        <input type="radio" name="gender" value="女" title="女"
               <#if editUser.gender == '女'>checked</#if>>
      </div>
    </div>

    <div class="layui-form-item">
      <label for="L_email" class="layui-form-label">
        <span class="we-red">*</span>昵称
      </label>
      <div class="layui-input-inline">
        <input type="text" id="L_phone" name="nickname" value="${editUser.nickname!'(未设置)'}"
               lay-verify="required|nickname" autocomplete="off" style="color: blue" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label for="L_address" class="layui-form-label">
        <span class="we-red"></span>个性签名
      </label>
      <div class="layui-input-inline">
        <input type="text" id="L_address" name="signature" value="${editUser.signature!'(未设置)'}"
               autocomplete="off" class="layui-input">
      </div>

    </div>
    <div class="layui-form-item">
      <label for="L_pass" class="layui-form-label">
        <span class="we-red">*</span>密码
      </label>
      <div class="layui-input-inline">
        <input type="password" id="L_pass" name="password" autocomplete="off" class="layui-input"
               lay-verify="">
      </div>
      <div class="layui-form-mid layui-word-aux">
        6到16个字符
      </div>
    </div>
    <div class="layui-form-item">
      <label for="L_repass" class="layui-form-label">
        <span class="we-red">*</span>确认密码
      </label>
      <div class="layui-input-inline">
        <input type="password" id="L_repass" name="repass" autocomplete="off" class="layui-input"
               lay-verify="rePwd">
      </div>
    </div>
    <div class="layui-form-item">
      <label for="L_repass" class="layui-form-label">
      </label>
      <button class="layui-btn" lay-filter="add" lay-submit="">确定</button>
      <input type="hidden" name="dataId" id="dataId" value=""/>
    </div>
  </form>
</div>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
  layui.extend({
    admin: '/static/js/admin'
  });
  layui.use(['form', 'jquery', 'admin', 'layer'], function () {
    var form = layui.form,
        $ = layui.jquery,
        admin = layui.admin,
        layer = layui.layer;

    //自定义验证规则
    form.verify({
      nickname: function (value) {
        if (value.length < 2) {
          return '昵称至少输入2个字符!';
        }
      },
      rePwd: function (value, item) {
        var Digital = /\d/;
        var Letters = /[a-zA-Z]/;
        if (!(Digital.test(value) && Letters.test(value) && value.length >= 0)) {
          return '密码必须含有字母和数字!';
        }
      },
      rePwd: function (value, item) {
        var pwd = $("input[name='password']").val();
        if (pwd != value) {
          return '密码与确认密码不一致!';
        }
      }
    });
    //监听提交
    form.on('submit(add)', function (data) {
      //发异步，把数据提交给php
      $.ajax({
        url: '/user/update'
        , type: 'post'
        , contentType: "application/json"
        , data: JSON.stringify(data.field)
        , success: function (result) {
          if (result.code == 0) {
            layer.msg('修改成功', {
              time: 2000, end: function () {
                parent.layer.close(parent.layer.getFrameIndex(window.name));
                parent.location.reload();
              }
            });
          } else {
            layer.msg(result.msg, {
              time: 1000
            });
            parent.layer.close();
          }
        }
      });
      return false;
    });

  });
</script>
</body>

</html>