@font-face {
  font-family: 'iconfont';
  src: url('/static/fonts/iconfont.eot');
  src: url('/static/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/iconfont.woff') format('woff'),
  url('/static/fonts/iconfont.ttf') format('truetype'),
  url('/static/fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

