
.login-box {
  width: 300px;
  height: 360px;
  border: 1px dashed white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  border-radius: 5px;
}

.head {
  width: 305px;
  height: 75px;
  position: absolute;
  top: -96px;
  left: 50%;
  margin-left: -156px;
  background: url("/static/img/logo.png");
  background-size: cover;
}

.input-box {
  margin: 10px 10px 10px 10px;
}

.input-box input {
  margin-top: 20px;
  border-radius: 5px;
}

.input-box input[type="submit"] {
  background-color: #189F92;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
}

.input-box .remember-me {
  margin-top: 20px;
}

.input-box .remember-me .layui-form-switch {
  margin-top: 0;
}

.input-box .oauth {
  margin-top: 5px;
}

.input-box .oauth i {
  cursor: pointer;
  font-size: 28px;
}

.copyright {
  margin: 10px 10px 10px 10px;
  font-size: 13px;
}

.admin-login-box {
  width: 300px;
  height: 280px;
  border: 1px dashed white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  border-radius: 5px;
}