<html>

<head>
  <title>404</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="/static/layui/css/layui.css" media="all"/>
  <link rel="stylesheet" href="/static/css/public.css" media="all"/>
</head>
<body class="childrenBody">
<div class="noFind">
  <div class="ufo">
    <i class="seraph icon-test ufo_icon"></i>
    <i class="layui-icon page_icon">&#xe638;</i>
  </div>
  <div class="page404">
    <i class="layui-icon">&#xe61c;</i>
    <p>页面或数据被外星人带到火星去啦!啥也看不到了...</p>
  </div>
</div>

<script type="text/javascript" src="/static/layui/layui.js"></script>
</body>
<script>
  setTimeout(
      "window.location.href='/index'", 5000
  );
</script>
</html>
