<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>校内信息共享平台</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="校内信息共享平台">
  <meta name="description" content="一个提供给大学生的校内信息共享平台">
  <link rel="stylesheet" href="/static/res/layui/css/layui.css">
  <link rel="stylesheet" href="/static/res/css/global.css">
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="/static/res/images/logo.png" alt="layui">
    </a>

    <ul class="layui-nav fly-nav-user">

      <!-- 登入后的状态 -->
      <#if Session['user']?exists>

        <li class="layui-nav-item">
          <a class="fly-nav-avatar" href="javascript:;">
            <cite class="layui-hide-xs">${user.nickname}</cite>
            <img
              src="${user.avatar!}">
          </a>
          <dl class="layui-nav-child">
            <dd><a href="/user/set"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
            <dd><a href="/user/${user.id}"><i class="layui-icon"
                                              style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
            </dd>
            <hr style="margin: 5px 0;">
            <dd><a href="/logout" style="text-align: center;">退出</a></dd>
          </dl>
        </li>
      <#else>
        <!-- 未登入的状态 -->
        <li class="layui-nav-item">
          <a class="iconfont icon-touxiang layui-hide-xs" href="/login"></a>
        </li>
        <li class="layui-nav-item">
          <a href="/login">登录</a>
        </li>
        <li class="layui-nav-item">
          <a href="/register">注册</a>
        </li>
      </#if>
    </ul>
  </div>
</div>

<div class="fly-panel fly-column">
  <div class="layui-container">
    <ul class="layui-clear">
      <li class="layui-hide-xs layui-this"><a href="/">首页</a></li>
      <#if Session['user']?exists>
        <li><a href="/user/${user.id}">个人中心</a></li>
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span
            class="fly-mid"></span></li>

        <!-- 用户登入后显示 -->
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="/user/center">我发布的信息</a>
        </li>
      </#if>
    </ul>

    <div class="fly-column-right layui-hide-xs">
      <a href="/add" class="layui-btn">我要发布</a>
    </div>
    <div class="layui-hide-sm layui-show-xs-block"
         style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
      <a href="/add" class="layui-btn">我要发布</a>
    </div>
  </div>
</div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <#if topArticleList??>
        <div class="fly-panel">
          <div class="fly-panel-title fly-filter">
            <a>置顶</a>
          </div>
          <ul class="fly-list">
            <#list topArticleList as topArticle>
            <li>
              <a href="/user/${topArticle.userId}" class="fly-avatar">
                <img
                  src="${topArticle.avatar!}"
                  alt="${topArticle.nickname!}">
              </a>
              <h2>
                <a class="layui-badge">${topArticle.category}</a>
                <a target="_blank" href="/article/${topArticle.id}" style="color: #FFB800">${topArticle.title}</a>
              </h2>
              <div class="fly-list-info">
                <a href="/user/${topArticle.userId}" link target="_blank">
                  <cite>${topArticle.nickname}</cite>
                </a>
                <span>${topArticle.createTime}</span>

                <span class="fly-list-nums">
      <i class="iconfont icon-pinglun1" title="评论"></i> ${topArticle.commentCount!'0'}
      </span>
              </div>
              <div class="fly-list-badge">
                <span class="layui-badge layui-bg-red">置顶</span>
              </div>
            </li>
            </#list>
          </ul>
        </div>
      </#if>

      <div class="fly-panel" style="margin-bottom: 0;">

        <div class="fly-panel-title fly-filter">
          <a href="" class="layui-this">帖子列表</a>

          <div class="fly-panel"
               style="display: inline-block; margin-bottom: 0;vertical-align: middle;">
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 0;">
              <div class="layui-tab-item layui-show">
                <form action="" method="post">
                  <div class="layui-row layui-col-space15 layui-form-item"
                       style="margin-bottom: 0;">
                    <div class="layui-col-md3">
                      <label class="layui-form-label">选择分类</label>
                      <div class="layui-input-block" style="width: 100px;">
                        <select lay-verify="required" name="categoryId" lay-filter="selectCategory"
                                id="selc">
                          <option value="0">综合</option>
                          <#if category??>
                            <#list category as c>
                              <option value="${c.id}" name="categoryId"
                                      <#if cId?? && c.id == cId>selected</#if>>${c.name}</option>
                            </#list>
                          </#if>
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <span class="fly-filter-right layui-hide-xs">
            <a href="/index?order=new&cId=${cId!'0'}"
               <#if order?? && order == 'new'>class="layui-this"</#if>>按最新</a>
            <span class="fly-mid"></span>
            <a href="/index?order=hot&cId=${cId!'0'}"
               <#if order?? && order == 'hot'>class="layui-this"</#if>>按热议</a>
          </span>
        </div>
        <#if articleList?? && articleList?size != 0>
          <#list articleList as article>
            <ul class="fly-list">
              <li>
                <a href="/user/${article.userId}" class="fly-avatar">
                  <img
                    src="${article.avatar!}"
                    alt="${article.nickname}">
                </a>
                <h2>
                  <a class="layui-badge">${article.category}</a>
                  <a href="/article/${article.id}" style="" id="titleColor">${article.title!}</a>
                </h2>
                <div class="fly-list-info">
                  <a href="/user/${article.userId}" link>
                    <cite>${article.nickname}</cite>
                  </a>
                  <span>${article.createTime}</span>

                  <span class="fly-list-nums">
                <i class="iconfont icon-pinglun1" title="评论"></i> ${article.commentCount!}
              </span>
                </div>
              </li>
            </ul>
          </#list>
        <#else>
          <div class="fly-none">暂时没有数据</div>
        </#if>

      </div>
    </div>
  </div>
</div>

<div class="fly-footer">
  <p>校内信息共享平台 &nbsp;&nbsp; Copyright&nbsp; &copy; 2019 Zbin</p>
</div>

<script src="/static/res/layui/layui.js"></script>
<script>
  layui.use(['layer', 'form'], function () {
    var layer = layui.layer
        , form = layui.form
        , $ = layui.jquery;
    form.on('select(selectCategory)', function (data) {
      var categoryId = $('#selc option:selected').val();
      window.location = "/index?cId=" + categoryId
    });
  });
  layui.config({
    version: "3.0.0"
    , base: '/static/res/mods/'
  }).extend({
    fly: 'index'
  }).use('fly');
</script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol)
      ? " https://" : " http://");
  document.write(unescape(
      "%3Cspan id='cnzz_stat_icon_30088308'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol
      + "w.cnzz.com/c.php%3Fid%3D30088308' type='text/javascript'%3E%3C/script%3E"));</script>

</body>
</html>