<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>编辑文章</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <link rel="stylesheet" href="/static/css/scroll-bar.css">
  <link rel="stylesheet" href="/static/css/sub-page.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_693759_wytlyqhtdtj1nhfr.css">
</head>
<body>
<div class="ok-body">
  <form class="layui-form ok-form">
    <div class="layui-container fly-marginTop">
      <div class="fly-panel" pad20 style="padding-top: 5px;">
        <div class="layui-form layui-form-pane">
          <div class="layui-tab layui-tab-brief" lay-filter="user">
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
              <div class="layui-tab-item layui-show">
                <form action="" method="post">
                  <div class="layui-row layui-col-space15 layui-form-item">
                    <div class="layui-col-md3">
                      <label class="layui-form-label">选择分类</label>
                      <div class="layui-input-block">
                        <select lay-verify="required" name="categoryId" lay-filter="column">
                          <option></option>
                          <#if category??>
                            <#list category as c>
                              <option value="${c.id}" <#if editArticle??&&editArticle.categoryId == c.id>selected</#if>>${c.name}</option>
                            </#list>
                          </#if>
                        </select>
                      </div>
                    </div>
                    <div class="layui-col-md9">
                      <label for="L_title" class="layui-form-label">标题</label>
                      <div class="layui-input-block">
                        <input placeholder="请输入标题" type="text" id="L_title" name="title" required
                               lay-verify="title"
                               autocomplete="off" class="layui-input" value="<#if editArticle??>${editArticle.title!}</#if>">
                        <#if editArticle??>
                          <input type="hidden" id="L_title" name="id" class="layui-input" value="${editArticle.id}">
                        </#if>
                      </div>
                    </div>
                  </div>
                  <div class="layui-form-item layui-form-text">
                    <div class="layui-input-block">
                  <textarea placeholder="请输入内容" id="editText" name="content" required
                            lay-verify="article_content"
                            class="layui-textarea fly-editor" style="height: 250px;"><#if editArticle??>${editArticle.content!}</#if></textarea>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <button class="layui-btn" lay-filter="post" lay-submit type="button">立即发布
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!--js逻辑-->
<script src="/static/layui/layui.js"></script>
<script>
  layui.use(['layedit', 'form', 'jquery'], function () {
    var layedit = layui.layedit;
    var form = layui.form;
    var $ = layui.$;
    layedit.set({
      uploadImage: {
        url: "/article/uploadImg"
        , type: "post"
      }
    });
    var index = layedit.build('editText');
    form.verify({
      title: function (value) {
        if (value.length < 5) {
          return "标题至少输入5个字符!";
        }
      }
      , article_content: function (value) {
        layedit.sync(index);
        if (value.length < 10) {
          return "正文内容不得少于10个字符!";
        }
      }
    });
    form.on("submit(post)", function (data) {
      $.ajax({
        url: '/article/add'
        , type: 'post'
        , contentType: 'application/json'
        , data: JSON.stringify(data.field)
        , success: function (result) {
          if (result.code == 0) {
            layer.msg(result.msg);
            setTimeout('window.parent.location.reload()', 2000);
          } else {
            layer.msg(result.msg);
          }
        }
      });
    });

  });
  layui.config({
    version: "3.0.0"
    , base: '/static/res/mods/'
  }).extend({
    fly: 'index'
  }).use('fly');
</script>
</body>
</html>