<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zbin.cisp.dao.UserMapper">
  <select id="selectByUsername" resultType="com.zbin.cisp.domain.User">
      select * from user where username = #{username}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into user(username,password,reg_time,nickname,gender)
    values (#{username},#{password},now(),#{nickname},#{gender})
  </insert>

  <select id="countAll" resultType="integer" parameterType="string">
    select count(1) from user
    <if test="search != null and search != ''">
      where id like CONCAT('%',#{search},'%')
      or username like CONCAT('%',#{search},'%')
    </if>;
  </select>

  <select id="getUsers" resultType="com.zbin.cisp.domain.User" parameterType="string">
    select * from user
    <if test="search != null and search != ''">
      where username like CONCAT('%',#{search},'%')
      or nickname like CONCAT('%',#{search},'%')
    </if>
    order by reg_time desc;
  </select>

  <update id="updateUser" parameterType="com.zbin.cisp.domain.User">
    update user
    <set>
      <if test="nickname != null">
        nickname = #{nickname},
      </if>
      <if test="gender != null">
        gender = #{gender},
      </if>
      <if test="signature != null">
        signature= #{signature},
      </if>
      <if test="avatar != null">
        avatar = #{avatar},
      </if>
      <if test="password != null">
        password = #{password},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="gender != null">
        gender = #{gender},
      </if>
    </set>
    where username = #{username}
  </update>

  <select id="getUserById" resultType="com.zbin.cisp.domain.User">
    select * from user where id = #{id}
  </select>

  <delete id="deleteById">
    delete  from user where id = #{id}
  </delete>
</mapper>